<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <style>
  body{
    font-family: 'Quicksand', sans-serif;
    margin: 40px;
    margin:0px;
    /*background-color: 	#F0F8FF*/

  }

  .bg-1 {
      margin-top: 0px;
      /*background-color: 	#F0F8FF;*/
      color: #555555;
      border: 0px;
  }
  .bg-2 {
      background-color: #3366FF;
      color: #ffffff;
  }
  .bg-3 {
      background-color: #F0F8FF; /* White */
      color: #555555;
  }

  .bg-4 {
      margin-top: 0px;
      background-color: 		#A8A8A8;
      color: #ffffff;
      border: 0px;
  }

  .bg-5 {
      margin-top: 0px;
      border: 0px;
      opacity: 0.6;
      background-image: 	url("matter3.png");
      background-repeat: no-repeat;
      background-size: cover;
  }

  .bg-6 {
      margin-top: 0px;
      color: #ffffff;
      border: 0px;
  }

  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
  .bg-blue {
    /*background-color: #F0F8FF;*/
  }
  .circle-profile{
    object-fit: cover;
    width:250px;
    height:250px;
    border-radius:50%;
    /*background-image:url("mezoom.jpg");*/
    display:block;
    /*background-position-y:25%;*/
    margin: 0 auto;
    /*padding-top: 100px;*/
  }

  .centred-text{
    padding-top: 60px;
    text-align: center;
    padding-bottom: 60px;
    margin: 0 auto;
    width:800px;
  }



  .navbar .navbar-expand-lg .navbar-light{
    margin-bottom: 0px;
    border: 0px;
}

  .navbar .navbar-brand {
    color: #555555;
  }
  .nav .nav-item{
    color: #555555;
  }

img.image{
  height: 350px;
  width: auto;
  padding: 0px;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-top: 30px;
}


img.image-fade{
  float: left;
}

.image-fade{
  object-fit: cover;
}

div.gallery {
margin:0 auto;
width: 1000px; /*you decide width*/
}

ul.img-list {

  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  text-align: center;
}

ul.img-list li {
  display: inline-block;
  height: 350px;
  margin: 0 1em 1em 0;
  position: relative;
  width: 350px;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 350px;
  left: 0;
  position: absolute;
  top: 0;
  width: 350px;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 350px;
  left: 0;
  position: absolute;
  top: 0;
  width: 350px;
  opacity: 0;
}

ul.img-list li:hover span.text-content {
  opacity: 1;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 350px;
  left: 0;
  position: absolute;
  top: 0;
  width: 350px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-blue">
  <a class="navbar-brand" href="/">About Me</a>
    <div class="nav">
      <a class="nav-item nav-link" href="/projects">Projects</a>
      <a class="nav-item nav-link" href="/interests">Interests</a>
      <a class="nav-item nav-link" href="/contact">Contact</a>
    </div>
  </nav>
