<% include partials/header %>

<div class="container-fluid bg-1 text-center">
  <img class="circle-profile" src="mezoom2.jpg"/>
  <div class="centred-text">

    <h4>I'm Jenny. I'm looking for a job as a junior developer.
    <br>
    I love problem solving and I want to keep learning forever.

  </h4>
</div>
</div>

<div class="container-fluid bg-2 text-center">
  <div class="centred-text">
  <h4>My Journey to Becoming a Developer</h4>
  <br>
  <p>I graduated from Bristol with a Physics degree in 2011. After a year or so of internships and exploring some new continents,
    I came back to London and inevitably joined a graduate scheme at a bank. I built up some valuable professional skills in the Financial Sector over 5
    years and discovered that I found programming far more engaging and satisfying than any other part of my role. In July this year I
    quit my job to join Makers Academy and become a developer. I'm super excited to be starting a career where I get to solve problems
    and learn new things every day.
  </p>
</div>
</div>

<div class="container-fluid bg-3 text-center">
  <div class="centred-text">
  <h4>Makers Academy</h4>
  <br>
  <p>I have nearly completed my twelve amazing but exhausting weeks at Makers. Self-led and teamwork focused, we've learnt the basics of Ruby, Rails,
    Javascript, Node, TDD, OOD and Agile. It's not only coding skills I've gained along the way but a new approach to
    learning; knowing where to start, what to try, when to ask for help and when to persevere. Every week we have worked on a new
    project, with less guidance and more freedom to try what we want each week. This week I'm learning Swift with a team of 4 others, we're
    making a mood chatbot - watch this space for the final product!
   </p>
</div>
</div>
<!-- </div> -->




<% include partials/footer %>
