<% include partials/header %>
<div class="container-fluid bg-1 text-center">
  <div class="centred-text">
  <a href="mailto:jenniferbacon01@gmail.com">jenniferbacon01@gmail.com</a>
  <br>
  <a href="https://github.com/jenniferbacon01">https://github.com/jenniferbacon01</a>
  <br>
  <a href="https://www.linkedin.com/in/jennifer-bacon-932b1b53/">https://www.linkedin.com/in/jennifer-bacon-932b1b53/</a>
</div>
</div>

<div class="container-fluid bg-2 text-center">
  <div class="centred-text">
    <p>Please get in touch if you would like a copy of my CV.
      <br>References available upon request.
</p>
</div>
</div>

<% include partials/footer %>
