<% include partials/header %>

<div class="container-fluid bg-2 text-center">
  <div class="centred-text">
    <h4>Sports</h4>
    <br>
    <p>I enjoy playing netball, tennis, yoga, skiing, rock climbing and triathlons. I am a sports enthusiast and am always encouraging
      others to participate! I organised several sporting events for Mako including the Tour of Cambridgeshire Gran Fondo and the Tower
      42 Vertical Rush.
</p>
</div>
</div>
<div class="container-fluid bg-1 text-center">
  <!-- <div class="centred-text"> -->

<ul class="img-list">
  <li>
      <img class="image-fade" src="tri.jpg" width="350" height="350" />
      <span class="text-content"><span>The Windsor Triathlon - June this year</span></span>
  </li>
  <li>
      <img class="image-fade" src="https://s3.eu-west-2.amazonaws.com/about-me-jb/groupbike.jpg" width="350" height="350" />
      <span class="text-content"><span>Sunday cycle club!</span></span>
  </li>
  <li>
      <img class="image-fade" src="scuba.jpg" width="350" height="350" />
      <span class="text-content"><span>My first dive back in 2013. Super clear waters!</span></span>
  </li>
  <li>
      <img class="image-fade" src="netters.jpg" width="350" height="350" />
      <span class="text-content"><span>Been playing netball with these ladies for nearly 4 years now</span></span>
  </li>
  <li>
      <img class="image-fade" src="skijump.jpg" width="350" height="350" />
      <span class="text-content"><span>I'll be honest... I was jumping on to a massive air bag</span></span>
  </li>
  <li>
      <img class="image-fade" src="tennis.jpg" width="350" height="350" />
      <span class="text-content"><span>Fancy tennis</span></span>
  </li>
</ul>
</div>

  <div class="container-fluid bg-4 text-center">
    <div class="centred-text">
      <h4>Adventures</h4>
      <br>
      <p>I am passionate about travel and outdoor adventures. I spent 3 incredible months exploring South America after graduating,
        trekking through beautiful landscapes, trying weird and wonderful cuisines and meeting amazing people. I came home, and then
        as soon as I could went the other way round the world! I lived and worked in Malaysia for 6 months and took the
        opportunity to visit China and South-East Asia.
  </p>
  </div>
  </div>

  <div class="container-fluid bg-1 text-center">
  <ul class="img-list">
  <li>
      <img class="image-fade" src="waterfall.jpg" width="350" height="350" />
      <span class="text-content"><span>El Limon waterfalls, Dominican Republic</span></span>
  </li>
  <li>
      <img class="image-fade" src="mountain.jpg" width="350" height="350" />
      <span class="text-content"><span>The French Alpes</span></span>
  </li>
  <li>
      <img class="image-fade" src="me-haleakala.jpg" width="350" height="350" />
      <span class="text-content"><span>Haleakala Volcano, Maui</span></span>
  </li>
  <li>
      <img class="image-fade" src="jungle.jpg" width="350" height="350" />
      <span class="text-content"><span>Place Name</span></span>
  </li>
  <li>
      <img class="image-fade" src="palmtrees.jpg" width="350" height="350" />
      <span class="text-content"><span>Place Name</span></span>
  </li>
  <li>
      <img class="image-fade" src="greatwall.jpg" width="350" height="350" />
      <span class="text-content"><span>The Great Wall of China!</span></span>
  </li>

</ul>


</div>

<div class="container-fluid bg-4 text-center">
  <div class="centred-text">
    <h4>Other Things I like</h4>
    <br>
    <p>
</p>
</div>
</div>

<div class="container-fluid bg-1 text-center">
<ul class="img-list">
<li>
    <img class="image-fade" src="life3.jpg" width="350" height="350" />
    <span class="text-content"><span>Life drawing</span></span>
</li>
<li>
    <img class="image-fade" src="tiger.jpg" width="350" height="350" />
    <span class="text-content"><span>My kitty!</span></span>
</li>

</ul>


</div>


<% include partials/footer %>
