<% include partials/header %>
<div class="container-fluid bg-1 text-center">
<div class="centred-text">
  <h3>Chitter</h3>
  <a href="https://chitter-challenge-jb.herokuapp.com/peeps">https://chitter-challenge-jb.herokuapp.com/peeps</a>
  <br>
  <a href="https://github.com/jenniferbacon01/chitter-challenge">https://github.com/jenniferbacon01/chitter-challenge</a>
  <br>
  For the 4th weekend challenge at Makers Academy I built my first rip-off website, of many to come... Agreed it's not quite
  up there with the rest of Twitter's competitors, but there was something satisfying about bringing all the pieces I had learnt
  so far together in a kitch culmination of my coding skills. Technologies: Ruby, Sinatra, Rspec, Capybara, PostgreSQL.
</div>
</div>

<div class="container-fluid bg-5 text-center">
<div class="container-fluid bg-6 text-center">
<div class="centred-text">
  <h3>Lemmings</h3>
  <a href="https://github.com/jenniferbacon01/lemmings">https://github.com/jenniferbacon01/lemmings</a>
  <br>
  For this project, we decided to rebuild one of our favourite games from the 90s. We chose to use a physics engine
  (Matter.js) to govern the motion of the bodies and handle collisions - it was fairly easy to understand and was super
  fun to play with! It turned out to be a bit of blessing and a curse as we soon realised why physics engines are notoriously
  unstable and difficult to test. We definitely learnt alot from the challenges we faced during this week and still managed
  to make level one playable!
  Technologies: Javascript, Node, Mocha-Chai, Matter.js.
</div>
</div>
</div>

<% include partials/footer %>
